<div class="search">
  <button mat-raised-button  (click)="search()">Search</button>
    <mat-form-field>
      <input matInput  placeholder="Search by name" [(ngModel)]="searchTerm">
    </mat-form-field>
    
  </div>
<div *ngIf="allObjects">
<div class="container-list container" >
    <mat-card class="example-card" *ngFor="let object of allObjects">
        <mat-card-header>User Details</mat-card-header>
    
        <mat-card-content >
            <mat-card-title>{{object.name}}</mat-card-title>
            <mat-card-subtitle>{{object.gender}}</mat-card-subtitle>
            <mat-card-subtitle>{{object.height}}</mat-card-subtitle>
            <mat-card-subtitle>{{object.created|date}}</mat-card-subtitle>
    
    
            
        </mat-card-content>
    </mat-card>
   
  </div>
  <mat-paginator [length]="totalPeople"
  [pageSize]="pageSize"
  (page)="onPageChange($event)">
 </mat-paginator>
</div>